.top-form {
  display: none;
  position: relative;
  padding: ($m-gutter * 2) $m-gutter;
  background: $c-white;
  box-shadow: $shadow-1;

  &--active {
    display: block;
  }
}

.form-control {
  & + & {
    margin-top: $m-gutter;
  }

  &__input {
    width: 100%;
    padding: 0.4rem;
    font: inherit;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;

  * + & {
    margin-top: $m-gutter;
  }

  > * + * {
    margin-left: $m-gutter / 2;
  }
}
