.section {
  padding: 0 $m-gutter;
}

.container {
  max-width: $m-max-width;
  margin: auto;

  &--bg {
    background: $c-dark-grey;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  margin: 0 (-$m-gutter);

  &__item {
    flex-basis: calc(100% / 2 - #{$m-gutter} - #{$m-gutter});
    flex-grow: 1;
    margin: $m-gutter;
  }
}

.level {
  display: flex;
  align-items: center;

  &__left {
    flex-basis: 0;
    flex-grow: 1;
  }

  &__right {
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
  }
}
