// @import 'yoga';
// @import 'normalize';

// Colors
$c-white: #fff;
$c-light-grey: #ddd;
$c-dark-grey: #777;
$c-text: #444;
$c-primary: #47518f;
$c-primary-dark: darken($c-primary, 30%);
$c-success: #0a8237;

// Measurements
$m-max-width: 60rem;
$m-gutter: 1rem;

// Shadows
$shadow-1: 0.2rem 0.2rem 0.4rem rgba(#000, 0.2);

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import 'button';
@import 'nav';
@import 'form';
